extends ../node_modules/jade-bootstrap/_bootstrap

block body
    +navbar(title, "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/browse?type=private_letters") Browse
        +nav_item("/search", "active") Advanced Search
        +nav_item("/add") Add Document

    script.
        function toggleXQuery() {
            if (document.getElementById("xquerySearchButton").className == "btn btn-default btn-info") {
                document.getElementById("xquerySearchButton").className = "btn btn-default btn-info active";

                document.getElementById("searchBox").placeholder = "Enter an XQuery or XPath query";
                document.getElementById("searchForm").action = "/searchQuery";

                document.getElementById("searchResultsButton").className = "btn btn-default btn-info disabled";
            }
            else {
                document.getElementById("xquerySearchButton").className = "btn btn-default btn-info";

                document.getElementById("searchBox").placeholder = "Search documents";
                document.getElementById("searchForm").action = "/search";

                document.getElementById("searchResultsButton").className = "btn btn-default btn-info";
            }
        }

        function toggleSearchResults() {
            if (document.getElementById("searchResultsButton").className == "btn btn-default btn-info") {
                document.getElementById("searchResultsButton").className = "btn btn-default btn-info active";

                document.getElementById("searchBox").placeholder = "Search results";
                document.getElementById("searchForm").action = "/searchResults";

                document.getElementById("xquerySearchButton").className = "btn btn-default btn-info disabled";
            }
            else {
                document.getElementById("searchResultsButton").className = "btn btn-default btn-info";

                document.getElementById("searchBox").placeholder = "Search documents";
                document.getElementById("searchForm").action = "/search";

                document.getElementById("xquerySearchButton").className = "btn btn-default btn-info";
            }
        }

        function toggleSearchHistory() {
            if (document.getElementById("searchHistoryDiv").style.display == "none") {
                document.getElementById("searchHistoryDiv").style.display = "block";
            }
            else {
                document.getElementById("searchHistoryDiv").style.display = "none";
            }
        }

    .container
        span(class="btn btn-link" onclick="toggleSearchHistory();" style="font-size: 11px;") Toggle search history

        div(id="searchHistoryDiv" style="display:none;")
            div.well
                !{searchHistory}

        form(class="form-inline" action="/search" id="searchForm" method="get")
            input(class="form-control" style="width:100%" type="text" id="searchBox" name="searchString" placeholder="Search documents")
            p
            .form-inline
                .form-group
                    span(class="btn btn-default btn-info" id="xquerySearchButton" onclick="toggleXQuery();") Toggle XQUERY Search

                .form-group
                    span(class="btn btn-default btn-info" id="searchResultsButton" onclick="toggleSearchResults();") Toggle Search in Results

                +submit("Search")

        h1= "Search Results"

        .container
            if nResults > 0
                +label-success(nResults + " results found")
                a(class="btn btn-link" href="/downloadXML?xml=#{originalSearch}") Download results as XML
            else
                +label-danger(nResults + " results found")

            br
            br

        .container
            if customQuery
                if nResults > 0
                    !{results}

                script.
                    document.getElementById("xquerySearchButton").className = "btn btn-default btn-info active";

                    document.getElementById("searchBox").placeholder = "Enter an XQuery or XPath query";
                    document.getElementById("searchForm").action = "/searchQuery";

            else
                !{results}

            br
            br