extends ../node_modules/jade-bootstrap/_bootstrap

block body
    +navbar(title, "dropdown_menu")
        +nav_item("/") Home
        +nav_item("/browse?type=private_letters") Browse
        +nav_item("/search") Advanced Search
        +nav_item("/add") Add Document

    .container
        if error
            +alert-ix-danger(error)

        p
            if showSaveBtn
                span(class="btn btn-default btn-file btn-success" onclick="save();") Save
                &nbsp;&nbsp;&nbsp;
            span(class="btn btn-default btn-file btn-info" onclick="dl();") Download as XML file
            &nbsp;&nbsp;&nbsp;
            a(class="btn btn-default btn-file btn-warning btn-xs" href="/rawXML?file=#{xmlPath}") Reset
        p

        script.
            function dl() {
                var t = document.getElementById('xml').textContent;
                var a = document.createElement("a");
                var f = new Blob([t], {type: "application/xml"});
                a.href = URL.createObjectURL(f);
                a.download = "#{xmlFilename}";
                a.type = "submit";
                a.click();
                window.open(URL.createOjbectURL(f), "download");
            }

            function save() {
                window.location.href = "/saveXML?file=#{xmlPath}&data=" + escape(document.getElementById("xml").value);
            }

        if showSaveBtn
            textarea(class="form-control" rows="40" style="width:100%; font-family: Consolas, 'Courier New'; font-size:10pt;" id="xml") #{data}
        else
            pre(style="font-family: Consolas, 'Courier New'; font-size:10pt;") #{data}
        br